html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    font-size: 0.950rem;
  }


  header {
    width: 100%;
    z-index: 1000;
  }

  main {
    flex-grow: 1;
    /* padding-right: 40px; */
    overflow-y: auto;
  }